body,html
{
	margin:0;
	width:100% ;
}
.a
{
    height: 100px;
	width:99.5%;
    border: solid black 2px;
    position: absolute;
	margin-top:20px;
	margin-left:10px;
}
.b
{
	height:99.4%;
	width:99.5%;
    border: solid black 2px;
    position: absolute;
	
	
}
.f
{
	
}
.e
{
	 height: 100px;
	 width:20%;
     position: absolute;
	 background:purple;
}