body,html
{
	margin:0;
	background:yellow;
	width:100% ;
}
div
{
	
}
.first
{
    background: aqua;
	height:200px;
	width:200px;
	position:absolute;
	top:0;
	
}
.second
{
    background:crimson;
	height:200px;
	width:200px;
	bottom:0;
	position:absolute;
}
.third
{
    background:green;
	height:200px;
	width:200px;
	right:0;
	position:absolute;
}
.fourth
{
    background:red;
	height:200px;
	width:200px;
	right:0;
	bottom:0;
	position:absolute;
}
.center
{
	margin:auto;
    background:blue;
	height:200px;
	width:200px;
	left:0;
	bottom:0;
	right:0;
	top:0;
	position:absolute;
}
.one
{
	height:100px;
	width:100px;
	background:red;
	position:absolute;
	top:0;
}
.two
{
	height:100px;
	width:100px;
	background:lime;
	position:absolute;
	top:0;
	right:0;
}
.three
{
	height:100px;
	width:100px;
	background:lime;
	position:absolute;
	bottom:0;
}
.four
{
	height:100px;
	width:100px;
	background:red;
	position:absolute;
	right:0;
	bottom:0;
}